<div class="col-lg-4">
  <img class="img-fluid px-5 px-sm-4 mt-3 mb-4" style="width: 20rem;" src="/images/teams.svg" alt="">
</div>
<div class="col-lg-6">
  <%= form_with(model: team, local: true) do |form| %>
    <div class="form-group">
      <%= form.label 'Name:', class: "text-primary" %><br/>
      <%= form.text_field :name, class: "form-control", placeholder: 'Name' %>
    </div>

    <div class="form-group">
      <%= form.label 'selected team members:', class: "text-primary" %><br/>
      <%= form.select( :user_ids, options_from_collection_for_select(
        User.where.not("id = ?", current_user.id),"id", "name"),
        {}, { :class => 'form-control', include_blank: true,  multiple: true })%>
    </div>

    <div class="form-group">
      <%= form.submit class: "btn btn-primary btn-block" %>
    </div>

    <% if team.errors.any? %>
      <% if team.errors.count == 1%>
        <p  style="color: red;"> Name <%= team.errors[:name][0] %> </p>
      <% else %>
        <p  style="color: red;"> Name <%= team.errors[:name][1] %> </p>
      <% end %>
    <% end %>
  <% end %>
</div>
