<div class="form-team-c">
  <%= form_with(model: [@project, track], local: true) do |form| %>

    <% if track.errors[:name].any? %>	
      <div class="form-group">
        <div style='border: 3px solid red !important'>
          <span class="input-group-addon"></span>
          <%= form.text_field :name, input_html: {class: 'form-control'}, class: "form-control", placeholder: track.errors[:name][0] %>				
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <%= form.text_field :name, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Name' %>				
        </div>
      </div>
    <% end %>

    <% if track.errors[:description].any? %>
      <div class="form-group">
        <div style='border: 3px solid red !important'>
          <span class="input-group-addon"></span>
          <%= form.text_field :description, input_html: {class: 'form-control'}, class: "form-control", placeholder: track.errors[:description][0] %>				
        </div>
      </div>
    <% else %>	
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <%= form.text_field :description, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Description' %>				
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.submit class: "btn btn-new-team login-btn btn-block" %>
    </div>
  <% end %>
</div>