<div class="text-center">
  <% if track.unstarted? %>
    <%= form_with(model: [@track, interval = Interval.new], local: true) do |form| %>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <%= form.text_field :description, class: "form-control", placeholder: 'what will you do in this time?' %>
        </div>
      </div>
      <div class="actions">
        <%= form.hidden_field 'start_track', value: true %>
        <%= form.button class: 'btn btn-sm btn-success shadow-sm', data: { turbolinks: false } do %>
          <i class="fa fa-play text-white"></i>
          <span> <%= t('started') %> </span>
        <% end %>
        <%= link_to new_track_interval_path(track.id, start_track: true), class: 'btn btn-sm btn-primary shadow-sm', data: { turbolinks: false } do %>
          <i class="fa fa-list-ul text-white"></i>
          <span> <%= t('complete') %> </span>
        <% end %>
      </div>
    <% end %>

  <% elsif track.in_progress? %>
    <% if track.open_interval %>
      <%= form_with(model: [@track, @track.open_interval], local: true) do |form| %>
        <div class="actions">
          <%= form.hidden_field 'start_track', value: true %>
          <%= form.button class: 'btn btn-sm btn-danger shadow-sm', data: { turbolinks: false } do %>
            <i class="fa fa-pause text-white"></i>
            <span> <%= t('pause') %> </span>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= form_with(model: [@track, interval = Interval.new], local: true) do |form| %>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"></span>
            <%= form.text_field :description, class: "form-control", placeholder: '(*) What will you do in this time?' %>
          </div>
        </div>
        <div class="actions">
          <%= form.hidden_field 'start_track', value: true %>
          <%= form.button class: 'btn btn-sm btn-success shadow-sm', data: { turbolinks: false } do %>
            <i class="fa fa-retweet text-white"></i>
            <span> <%= t('resume') %> </span>
          <% end %>
          <%= link_to new_track_interval_path(track.id, start_track: true), class: 'btn btn-sm btn-primary shadow-sm', data: { turbolinks: false } do %>
            <i class="fa fa-list-ul text-white"></i>
            <span> <%= t('complete') %> </span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

