<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @track.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @track.ends_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @track.status %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
