<div class="form-team-b">
  <div class="form-team-c" id="date-view-interval">

  <p> <h2 class="text-center text-white">New Interval</h2></p>

  <%= form_with(model: [@track, @interval], local: true) do |form| %>
  
  <%= form.hidden_field :start_track %>


  <% if @interval.errors[:description].any? %>
    <div class="form-group">
      <div class="handleElement" style='border: 3px solid red !important'>
        <span class="input-group-addon"></span>
        <%= form.text_field :description, input_html: {class: 'form-control'}, class: "form-control", placeholder: @interval.errors[:description][0] %>				
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <div class="input-group handleElement">
        <span class="input-group-addon"></span>
        <%= form.text_field :description, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Description' %>				
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <p class="newCenterInterval"> start at: </p>
    <div class="input-group handleElement">
      <span class="input-group-addon"></span>
      <%= form.datetime_select( :start_at, {}, {:class => 'form-control', data: { turbolinks: false }}) %>
    </div>
  </div>

  <div class="form-group">
  <p class="newCenterInterval"> end at: </p>
    <div class="input-group handleElement">
      <span class="input-group-addon"></span>
        <%= form.datetime_select( :end_at, {}, {:class => 'form-control', data: { turbolinks: false }}) %>
    </div>
  </div>  

  <div class="form-group" >
  <div id="create-button" class="hidden">
      <%= form.submit class: "btn btn-new-team login-btn btn-block", data: { turbolinks: false } %> 
      <div class="or-seperator"></div>
  </div>

  <div id="invalid-form" class="" >    
      <div class="or-seperator"></div>
      <p style="color:red;"> invalid date time </p>
  </div>
</div>

  <%= link_to track_path(@track), html_options = {class: "btn btn-light navbar-btn-team"} do %>
        <i class="fa fa-backward mr-3 text-light fa-fw"></i>Back
    <% end %>
<% end %>
</div>
</div>