<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-4 text-gray-800">Interval</h1>
  <%= link_to track_path(@track), class: "d-none d-sm-inline-block btn btn-primary shadow-sm", data: { turbolinks: false } do %>
    <i class="fa fa-arrow-left fa-sm text-white-50"></i>
    <span> Back </span>
  <%end%>
</div>

<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="card shadow mb-4 border-bottom-primary">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">New Interval</h6>
      </div>
      <div class="card-body">
        <div  class="row justify-content-center">
          <div class="col-lg-4">
            <img class="img-fluid px-5 px-sm-4 mt-3 mb-4" style="width: 20rem;" src="/images/interval.svg" alt="">
          </div>
          <div class="col-lg-6">
            <%= form_with(model: [@track, @interval], local: true) do |form| %>
              <%= form.hidden_field :start_track %>
              <div class="form-group">
                <%= form.label 'Description:', class: "text-primary" %><br/>
                <%= form.text_field :description, class: "form-control", placeholder: 'Description' %>
              </div>
              <div class="form-group">
                <%= form.label 'Start at:', class: "text-primary" %><br/>
                <%= form.datetime_select( :start_at, {}, {:class => '', data: { turbolinks: false }}) %>
              </div>
              <div class="form-group">
                <%= form.label 'End at:', class: "text-primary" %><br/>
                <%= form.datetime_select( :end_at, {}, {:class => '', data: { turbolinks: false }}) %>
              </div>
              <div class="form-group">
                <%= form.submit class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>