<%= render 'navbar-user', user: @user %>

<div class="page-content p-5" id="content">

  <%= render 'about-user', user: @user %>
  <%= render 'team-user', user: @user %>
  <%= render 'projects-user', projects: @projects %>

  <div id = 'statics-user' class='statics-user hidden'>
    <div id = "graph-d3-user"> </div>
    <%= select_tag :interval, options_for_interval_types, id: 'change_interval'%>
    <div id = "graph-d3-lineChart"> </div>
    <div id = "graph-d3-pieChart"> </div>
  </div>
  
</div>
