<% if !current_user.present? %>
  <div id="index_id" class="card">
    <div class="card-header py-3">
      <%= link_to new_user_session_path, class: "btn btn-primary float-right" do %>
        <span> <%= t('log_in') %> </span>
      <%end%>
      <h2><%= link_to 'PLOCK', root_path, class: "m-0 font-weight-bold text-primary", data: { turbolinks: false }, style:'text-decoration: none;'%></h2>
    </div>
    <div class="card-body">

      <h1 class="h1-home font-weight-bold text-center text-dark"><%= t('welcome') %></h1>
      <h2 class="font-weight-bold text-center text-dark"><%= t('motivation') %></h2>
      <h3 class="text-center"><small class="text-muted"><%= t('motivation1') %></small></h3>

      <div class="card o-hidden border-0">
        <div class="card-body p-0">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="cont-card">

                  <div class="card-home">
                    <div class="card text-white bg-success mb-3" style="max-width: 30rem;">
                      <div class="card-header text-center"> <b> <%= t('characteristic1_title') %> </b> </div>
                      <div class="card-body">
                        <p class="card-text"><%= t('characteristic1_body') %></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-home">
                    <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">
                      <div class="card-header text-center"> <b> <%= t('characteristic2_title') %> </b> </div>
                      <div class="card-body">
                        <p class="card-text"><%= t('characteristic2_body') %></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-home">
                    <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
                      <div class="card-header text-center"> <b> <%= t('characteristic3_title') %> </b></div>
                      <div class="card-body">
                        <p class="card-text"> <%= t('characteristic3_body') %> </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block">
                <img src="/images/calendar.jpg" alt="rss feed" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'index_user' %>
<% end %>
