<div class="form-team-c">
<%= form_with(model: project, local: true) do |form| %>
 
  <% if project.errors[:name].any? %>				
    <div class="form-group">
      <div style='border: 3px solid red !important'>
        <span class="input-group-addon"></span>
        <%= form.text_field :name, input_html: {class: 'form-control'}, class: "form-control", placeholder: project.errors[:name][0] %>  
      </div>
    </div>    
    <% else %>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <%= form.text_field :name, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Name' %>
        </div>
      </div>
    <% end %>      

  <% if project.errors[:repository].any? %>
    <div class="form-group">
      <div style='border: 3px solid red !important'>
        <span class="input-group-addon"></span>
        <%= form.text_field :repository, input_html: {class: 'form-control'}, class: "form-control", placeholder: project.errors[:repository][0] %>				
      </div>
    </div>
  <%else%>	
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <%= form.text_field :repository, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Repository' %>				
      </div>
    </div>
  <% end %>

  <% if project.errors[:cost].any? %>
    <div class="form-group">
      <div style='border: 3px solid red !important'>
        <span class="input-group-addon"></span>
        <%= form.text_field :cost, input_html: {class: 'form-control'}, class: "form-control", placeholder:  project.errors[:cost][0] %>				
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <%= form.text_field :cost, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Cost' %>				
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <p class="newCenterInterval"> start at: </p>
    <div class="input-group">
      <span class="input-group-addon"></span>
      <%= form.date_select( :start_at, {}, {:class => 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <a style="color: white;"> select team </a>
    <%= form.select( :team_id, options_from_collection_for_select(
      current_user.teams,"id", "name"),
      {}, { :class => 'form-control', include_blank: true,  multiple: false })
    %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-new-team login-btn btn-block" %>
  </div>

  <div class="or-seperator"></div>

  
<% end %>
</div>