<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<div class="form-team-c">
<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <%= form.text_field :name, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Name' %>				
      </div>
    </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"></span>
      <%= form.text_field :repository, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Repository' %>				
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"></span>
      <%= form.text_field :cost, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Cost' %>				
    </div>
  </div>
  
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"></span>
      <%= form.text_field :start_at, id: "datepicker", placeholder: "Selected date", class: "form-control", data: {date_format: 'YYYY/MM/DD'} %>
    </div>
  </div>

  <div class="form-group">
    <a style="color: white;"> select team </a>
    <%= form.select( :team_id, options_from_collection_for_select(
      current_user.teams,"id", "name"),
      {}, { :class => 'form-control', include_blank: true,  multiple: false })
    %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-new-team login-btn btn-block" %>
  </div>

  <div class="or-seperator"></div>

<% end %>
</div>

<script>
  $("#datepicker").datepicker({
      uiLibrary: 'bootstrap4'
  });
</script>