<div class="col-lg-6">
  <%= form_with(model: project, local: true) do |form| %>

    <div class="form-group">
      <%= form.label t('name'), class: "text-primary" %><br/>
      <%= form.text_field :name, class: "form-control", placeholder: 'Name' %>
    </div>

    <div class="form-group">
      <%= form.label t('description'), class: "text-primary" %><br/>
      <%= form.text_field :description, class: "form-control", placeholder: 'Description' %>
    </div>

    <div class="form-group">
      <%= form.label t('cost'), class: "text-primary" %><br/>
      <%= form.text_field :cost, class: "form-control", placeholder: 'Cost' %>
    </div>

    <div class="form-group">
      <%= form.label t('select_teams'), class: "text-primary" %><br/>
      <%= form.select( :team_ids, options_from_collection_for_select(
        current_user.teams,"id", "name"),
        {}, { :class => 'form-control', include_blank: true,  multiple: true })%>
    </div>

    <div class="form-group">
      <%= form.label t('area'), class: "text-primary" %><br/>
      <%= form.select(
        :area_id,
        options_from_collection_for_select(Area.all, "id", "name"),
        {},
        { :class => 'form-control', include_blank: true,  multiple: false }) %>
    </div>


    <div class="form-group">
      <%= form.submit class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
<div class="col-lg-4 d-flex flex-row align-items-center justify-content-between">
  <img class="img-fluid px-6 px-sm-12 mt-4 mb-4" style="width: 25rem;" src="/images/projects.svg" alt="">
</div>