<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> <%= t 'projects' %> </h1>
  <%= link_to new_project_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
    <i class="fa fa-plus fa-sm text-white-50"></i>
    <span> <%= t 'new_project' %>  </span>
  <%end%>
</div>

<div class="card shadow mb-4 border-bottom-primary">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= t('my_projects') %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr class="text-center">
            <th><%= t('name') %></th>
            <th><%= t('description') %></th>
            <th><%= t('start_at') %></th>
            <th><%= t('team') %></th>
            <th><%= t('accion') %></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr class="text-center">
              <td><%= project.name %></td>
              <td><%= project.description %></td>
              <td><%= project.start_at %></td>
              <td><%= project.team&.name %></td>
              <td>
                <%= link_to project_path(project), class: "btn btn-sm btn-warning shadow-sm", data: { turbolinks: false } do %>
                  <i class="fa fa-eye fa-sm text-white-50"></i>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

