<div class="teams-card-container">
  <% @projects.each do |project| %>
    <div class="card-teams">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header" style="text-align: center;"> <%= project.name %> </div>
        <div class="card-body">
          <h5 class="card-title"> start at </h5>
          <p class="card-text"> <%= project.start_at.strftime("%F %T") %> </p>
          <%= link_to project, class: "btnIcon btnIconColor btnShow" do %>
            <i class="fa fa-eye text-light"></i>
          <% end %>
          <%= link_to edit_project_path(project), class: "btnIcon btnIconColor btnEdit" do %>
            <i class="fa fa-edit text-light"></i>
          <% end %>
          <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btnIcon btnIconColor btnTrash" do %>
            <i class="fa fa-trash text-light"></i>
          <% end %>
        </div>  
      </div>
    </div>
  <%end%>

  <div class="card-teams">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header" style="text-align: center;"> New project</div>
      <div class="card-body">
        <p class="card-text"></p>
        <%= link_to new_project_path, class: "btnIcon btnIconColor btnNew" do %>
          <i class="fa fa-plus text-light"></i>
        <% end %>
        <p class="card-text"></p>
      </div>  
    </div>
  </div>
  
</div>

