<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> <%= @project.name %> </h1>
</div>

<div class="tab nav nav-tabs mb-3">
  <button class="tablinks nav-link" id="defaultButton" onclick="renderDiv(event,'tracks-project')" > <%= t 'tracks' %> </button>
  <button class="tablinks nav-link" onclick="renderDiv(event,'about-project')" > <%= t 'about' %> </button>
</div>

<div id='about-project' class="tabcontent">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-xl-12 col-lg-12">
              <% if policy(@project).update? %>
                <%= link_to edit_project_path(@project), class: "float-right btn btn-sm btn-primary shadow-sm" do %>
                  <i class="fa fa-edit fa-sm text-white"></i>
                  <span> <%= t 'edit' %> </span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="form-group">
                <label class="text-primary"> <%= t('description') %> </label>
                <input class="form-control" type="text" value="<%= @project.description %>" readonly="readonly">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="form-group">
                <label class="text-primary"> <%= t('cost') %> </label>
                <input class="form-control" type="text" value="<%= @project.cost %>" readonly="readonly">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
            <div class="form-group">
              <label class="text-primary"> <%= t('owner') %> </label>
              <input class="form-control" type="text" value="<%= "#{@project.user.name} #{@project.user.lastname}" %>" readonly="readonly">
            </div>
          </div>
            <div class="col-xl-6 col-lg-6">
              <div class="form-group">
                <label class="text-primary"><%= t('teams') %> </label>
                <% @project.teams.each do |team| %>
                  <div class="form-group">
                    <input class="form-control" type="text" value="<%= team.name %>" readonly="readonly">
                  </div>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'modal_new_track' %>

<div id='tracks-project' class="tabcontent">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-xl-12 col-lg-12">
              <button type="button" class="float-right btn btn-sm btn-primary shadow-sm text-white" data-toggle="modal" data-target="#newTrackModal">
                <i class="fa fa-plus fa-sm text-white"></i>
                <span> <%= t 'new_track' %> </span>
              </button>
            </div>
          </div>
          <div class="row">
            <!-- unstarted -->
            <%= render 'tracks/car_table_tracks', tracks: @tracks_unstarted, type: 'unstarted' %>
            <!-- in progress -->
            <%= render 'tracks/car_table_tracks', tracks: @tracks_in_progress, type: 'in_progress' %>
            <!-- finished -->
            <%= render 'tracks/car_table_tracks', tracks: @tracks_finished, type: 'finished' %>
          </div>
          <div class="mt-4 text-center small">
          <span class="mr-2">
              <i class="fas fa-circle text-danger"></i> <%= t('unstarted') %>
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-warning"></i> <%= t('in_progress') %>
            </span>
            <span class="mr-2">
              <i class="fas fa-check text-success"></i> <%= t('finished') %>
            </span>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
