<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @project.repository %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @project.cost %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @project.start_at %>
</p>

<h1> Tracks  </h1>
  <% if @tracks.empty? %>
      <p> Not tracks available </p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>State</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @tracks.each do |track| %>
        <tr>
          <td><%= track.name %>&nbsp&nbsp</td>
          <td><%= track.description %>&nbsp</td>
          <% if track.status %>
            <td> Finalized&nbsp </td>
          <% else %>
            <td> In progress&nbsp </td>
          <% end %>
          <td><%= link_to 'Show' , track %>&nbsp</td>
          <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
    </table>
<% end %>

<%= link_to 'Create new Task', new_project_track_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
