<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"> <%= @project.name %> </h1>
</div>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" href="" data-turbolinks="false" id ="button-tracks-project"> <%= t 'tracks' %> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="" data-turbolinks="false" id="button-about-project"> <%= t 'about' %> </a>
  </li>
</ul>

<div id='about-project' class="hidden">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-xl-12 col-lg-12">
              <% if policy(@project).update? %>
                <%= link_to edit_project_path(@project), class: "float-right btn btn-sm btn-primary shadow-sm" do %>
                  <i class="fa fa-edit fa-sm text-white"></i>
                  <span> <%= t 'edit' %> </span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="form-group">
                <label class="text-primary"> <%= t('description') %> </label>
                <input class="form-control" type="text" value="<%= @project.description %>" readonly="readonly">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="form-group">
                <label class="text-primary"> <%= t('cost') %> </label>
                <input class="form-control" type="text" value="<%= @project.cost %>" readonly="readonly">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
            <div class="form-group">
              <label class="text-primary"> <%= t('owner') %> </label>
              <input class="form-control" type="text" value="<%= "#{@project.user.name} #{@project.user.lastname}" %>" readonly="readonly">
            </div>
          </div>
            <div class="col-xl-6 col-lg-6">
              <div class="form-group">
                <label class="text-primary"><%= t('teams') %> </label>
                <% @project.teams.each do |team| %>
                  <div class="form-group">
                    <input class="form-control" type="text" value="<%= team.name %>" readonly="readonly">
                  </div>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'modal_new_track' %>

<div id='tracks-project'>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-xl-12 col-lg-12">
              <button type="button" class="float-right btn btn-sm btn-primary shadow-sm text-white" data-toggle="modal" data-target="#newTrackModal">
                <i class="fa fa-plus fa-sm text-white"></i>
                <span> <%= t 'new_track' %> </span>
              </button>
            </div>
          </div>
          <div class="row">
            <!-- unstarted -->
            <div class="col-xl-4 col-lg-4">
              <div class="card shadow mb-4 border-bottom-danger">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight text-primary"> <i class="fas fa-circle text-danger"></i> <%= t('unstarted') %> </h6>
                </div>
                <div class="card-body border-left-danger scroll-project">
                  <table class="table" width="100%" cellspacing="0">
                    <thead>
                      <tr class="text-center">
                        <th><%= t('name') %></th>
                        <th><%= t('action') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @tracks_unstarted.order("id desc").each do |track| %>
                        <tr class="text-center">
                          <td><%= track.name %></td>
                          <td>
                            <div class="row justify-content-center">
                              <% if policy(track).update? %>
                                <div class="mr-1">
                                  <%= form_with(model: [track, interval = Interval.new], local: true) do |form| %>
                                    <%= form.hidden_field 'start_track', value: true %>
                                    <%= form.hidden_field 'modal', value: true %>
                                    <%= form.button title: t('resume'), class: 'btn btn-sm btn-info shadow-sm', data: { turbolinks: false } do %>
                                      <i class="fa fa-play fa-sm text-white"></i>
                                    <% end %>
                                  <% end %>
                                </div>
                              <% end %>
                              <% if policy(track).destroy? %>
                                <div class="mr-1">
                                  <%= link_to track, title: t('delete'), method: :delete, data: { confirm: t('confirm'), turbolinks: false }, class: "btn btn-sm btn-danger shadow-sm" do %>
                                    <i class="fa fa-trash fa-sm fa-sm text-white"></i>
                                  <% end %>
                                </div>
                              <% end %>
                              <div class="mr-1">
                                <%= link_to track, title: t('show'), class: "btn btn-sm btn-warning shadow-sm", data: { turbolinks: false } do %>
                                  <i class="fa fa-eye fa-sm text-white"></i>
                                <%end%>
                              </div>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- in progress -->
            <div class=" col-lg-4">
              <div class="card shadow mb-4 border-bottom-warning">
                <div class="card-header py-3">
                  <h6 class="m-0 text-primary"> <i class="fas fa-circle text-warning"></i> <%= t('in_progress') %> </h6>
                </div>
                <div class="card-body border-left-warning scroll-project">
                  <div class="table-responsive" style="overflow-x: hidden;">
                    <table class="table" width="100%" cellspacing="0">
                      <thead>
                        <tr class="text-center">
                          <th><%= t('name') %></th>
                          <th><%= t('action') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @tracks_in_progress.order("updated_at desc").each do |track| %>
                          <tr class="text-center">
                            <td><%= track.name %></td>
                            <td>
                              <div class="row justify-content-center">
                                <% if policy(track).update? %>
                                  <div class="mr-1">
                                    <% if track.open_interval %>
                                      <%= form_with(model: [track, track.open_interval], local: true) do |form| %>
                                        <%= form.hidden_field 'start_track', value: true %>
                                        <%= form.hidden_field 'modal', value: true %>
                                        <%= form.button class: 'btn btn-sm btn-danger shadow-sm', data: { turbolinks: false } do %>
                                          <i class="fa fa-pause fa-sm text-white"></i>
                                        <% end %>
                                      <% end %>
                                    <% else %>
                                      <%= form_with(model: [track, interval = Interval.new], local: true) do |form| %>
                                        <%= form.hidden_field 'start_track', value: true %>
                                        <%= form.hidden_field 'modal', value: true %>
                                        <%= form.button title: t('resume'), class: 'btn btn-sm btn-info shadow-sm', data: { turbolinks: false } do %>
                                          <i class="fa fa-retweet fa-sm text-white"></i>
                                        <% end %>
                                      <%end%>
                                    <% end %>
                                  </div>
                                  <div class="mr-1">
                                    <%= form_with(model: [track, track.intervals.last], local: true) do |form| %>
                                      <%= form.hidden_field 'close_track', value: true %>
                                      <%= form.hidden_field 'modal', value: true %>
                                      <%= form.button title: t('finish'), class: 'btn btn-sm btn btn-success shadow-sm' do %>
                                        <i class="fa fa-check fa-sm text-white"></i>
                                      <% end %>
                                    <% end %>
                                  </div>
                                <% end %>
                                <% if policy(track).destroy? %>
                                  <div class="mr-1">
                                    <%= link_to track, title: t('delete'), method: :delete, data: { confirm: t('confirm'), turbolinks: false }, class: "btn btn-sm btn-danger shadow-sm" do %>
                                      <i class="fa fa-trash fa-sm text-white"></i>
                                    <% end %>
                                  </div>
                                <% end %>
                                <div class="mr-1">
                                  <%= link_to track, title: t('show'), class: "btn btn-sm btn-warning shadow-sm", data: { turbolinks: false } do %>
                                    <i class="fa fa-eye fa-sm text-white"></i>
                                  <%end%>
                                </div>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- finished -->
            <div class="col-xl-4 col-lg-4">
              <div class="card shadow mb-4 border-bottom-success">
                <div class="card-header py-3">
                  <h6 class="m-0 text-primary"> <i class="fas fa-check text-success"></i> <%= t('finished') %> </h6>
                </div>
                <div class="card-body border-left-success scroll-project">
                  <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                      <thead>
                        <tr class="text-center">
                          <th><%= t('name') %></th>
                          <th><%= t('action') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @tracks_finished.order("updated_at desc").each do |track| %>
                          <tr class="text-center">
                            <td><%= track.name %></td>
                            <td>
                              <% if policy(track).destroy? %>
                                <%= link_to track, title: t('delete'), method: :delete, data: { confirm: t('confirm'), turbolinks: false }, class: "btn btn-sm btn-danger shadow-sm" do %>
                                  <i class="fa fa-trash fa-sm text-white"></i>
                                <% end %>
                              <% end %>
                              <%= link_to track, title: t('show'), class: "btn btn-sm btn-warning shadow-sm", data: { turbolinks: false } do %>
                                <i class="fa fa-eye fa-sm text-white"></i>
                              <%end%>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mt-4 text-center small">
          <span class="mr-2">
              <i class="fas fa-circle text-danger"></i> <%= t('unstarted') %>
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-warning"></i> <%= t('in_progress') %>
            </span>
            <span class="mr-2">
              <i class="fas fa-check text-success"></i> <%= t('finished') %>
            </span>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
