<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @project.repository %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @project.cost %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @project.start_at %>
</p>

<%= link_to 'Create new Task', new_project_track_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
