<div class="form-team-b"> 
    <div class="form-team-c">
      <%= form_with(model: @user, local: true, url: company_send_email_path, method: 'get') do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p> <%= @error%> </p>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"></span>
              <%= form.text_field :email, input_html: {class: 'form-control'}, class: "form-control", placeholder: 'Email' %>				
            </div>
          </div>

          <div class="form-group">
            <%= form.submit "Add user",class: "btn btn-new-team login-btn btn-block" %>
          </div>

        <% end %>
    
      <%= link_to :back, html_options = {class: "btn btn-light navbar-btn-team"} do %>
        <i class="fa fa-backward mr-3 text-light fa-fw"></i>Back
      <% end %>
    </div>
</div>  