<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<td><%= link_to 'Edit', edit_company_path(@company) %></td> |
<td><%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<td><%= link_to 'Add User to Company', company_subscribe_user_path(@company)%></td> |

<%= link_to 'Back', profile_path %>
