<div class="col-lg-6">
  <%= form_with(model: area, local: true) do |form| %>

    <div class="form-group">
      <%= form.label t('name'), class: "text-primary" %><br/>
      <%= form.text_field :name, class: "form-control", placeholder: t('name') %>
    </div>

    <div class="form-group">
      <%= form.label t('description'), class: "text-primary" %><br/>
      <%= form.text_field :description, class: "form-control", placeholder: t('description') %>
    </div>

    <div class="form-group">
      <%= form.label t('location'), class: "text-primary" %><br/>
      <%= form.text_field :location, class: "form-control", placeholder: t('location') %>
    </div>

    <div class="form-group">
      <%= form.submit class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
<div class="col-lg-4 d-flex flex-row align-items-center justify-content-between">
  <img class="img-fluid px-6 px-sm-12 mt-4 mb-4" style="width: 25rem;" src="/images/location.svg" alt="">
</div>