<% if flash.any? %>
  <% if flash[:notice] -%>
    <div class='noprint' id='flash_wrapper'>
        <div align="center" id="flash" class='alert alert-success alert-fullwidth in'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:notice] %>
        </div>
    </div>
  <% elsif flash[:alert] %>
    <div class='noprint' id='flash_wrapper'>
      <div align="center" id="flash" class='alert alert-danger alert-fullwidth in'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:alert] %>
      </div>
    </div>
  <% else %>
    <div class='noprint' id='flash_wrapper'>
      <% flash.each do |message_type, message| %>
        <div align="center" id="flash" class='alert alert-<%= message_type %> alert-fullwidth in'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <% if message.is_a? Array %>
            <ul>
              <% message.each do |msg| %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          <% else %>
            <%= message.html_safe %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
