<% if current_user.present? %>
<!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <%= link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center", data: { turbolinks: false } do %>
      <div class="sidebar-brand-text mx-3"> PLOCK </div>
    <%end%>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <%= link_to root_path, class: "nav-link", data: { turbolinks: false } do %>
        <i class="fa fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      <%end%>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      General
    </div>

    <li class="nav-item">
      <%= link_to calendar_path(current_user), class: "nav-link", data: { turbolinks: false } do %>
          <i class="fa fa-fw fa-calendar"></i>
          <span><%= t 'calendar' %></span>
        <%end%>
    </li>

    <li class="nav-item">
      <%= link_to projects_path, class: "nav-link", data: { turbolinks: false } do %>
          <i class="fa fa-fw fa-cubes"></i>
          <span><%= t 'projects' %></span>
        <%end%>
    </li>

    <li class="nav-item">
      <%= link_to teams_path, class: "nav-link", data: { turbolinks: false } do %>
          <i class="fa fa-fw fa-users"></i>
          <span><%= t 'teams' %></span>
        <%end%>
    </li>

    <li class="nav-item">
      <%= link_to user_stadistics_path, class: "nav-link", data: { turbolinks: false } do %>
          <i class="fa fa-fw fa-chart-bar"></i>
          <span><%= t 'statistics' %></span>
        <%end%>
    </li>

    <% if policy(:admin).sidebar? %>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Settings
      </div>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <%= link_to company_path(current_user.company), class: "nav-link", data: { turbolinks: false } do %>
          <i class="fa fa-fw fa-building"></i>
          <span> <%= current_user.company&.name %> </span></a>
        <%end%>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-fw fa-thumbtack"></i>
          <span> <%= I18n.t 'areas' %> </span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingUtilitie" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to new_area_path, class: "collapse-item", data: { turbolinks: false } do %>
              <span> <%= t 'new' %> </span>
            <%end%>
            <%= link_to areas_path, class: "collapse-item", data: { turbolinks: false } do %>
              <span> <%= t 'areas' %> </span>
            <%end%>
          </div>
        </div>
      </li>

    <% end %>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->
<% end %>